body{
  margin: 0;
}

app-header{
  text-align: center;
  width: 100%;
  top:0;
  color: rgb(184, 49, 214);

}

app-footer{
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
